{% extends 'base.html' %}

{% block content %}
  <h2 class="card-title">COVID Lung Detector</h2>
  <p class="card-text">Created by Kevin, Sam, Justin</p>
  <p class="card-text">
    Using a public dataset, Keras to create a neural network and machine learning from Tensorflow, this program was create to recognizes 
    the 2019 Novel Coronavirus (COVID-19) also known as the Severe Acute Respiratory Syndrome Coronavirus 2 (SARS-CoV-2) in X-ray images 
    of human lungs. In hopes of further assisting with the battle with the global pandemic, this site was created for the users to determine
    if the images of lungs they have belong to an individual who are showing developement of COVID. 
  </p>
  <p class="card-text">
    In hopes of a better tomorrow
  </p>
{% endblock %}
